#parent-fieldname-text { color:#fff; display:initial; margin:100px 10% }
#about-words { color:#fff }

.template-login_form, .template-login_failed, .template-logged_out, .template-login_success {
    text-align:center; padding-top:100px; background-color:initial; font-size:18px
}
.template-login_form div.field, .template-login_failed div.field { margin: 20px ;}
.template-login_failed li { list-style-type:none }

.template-login_form a:hover,
.template-login_failed a:hover,
.template-logged_out a:hover,
.template-login_success a:hover {color:#555;}

.location-list .item {width:48%; padding: 10px; float:left}
.location-list hr {width:94%; border: 1px dashed #888}
.location-list .item .image { float:left; margin:0 20px; overflow:hidden; width:35%; }

.location-list .item .image img { width:100%; } 

.location-list .item .detail { float:left; color:#ddd; width:55%; max-width:100%; overflow:hidden}
.location-list .item .detail h4 {
    line-height: 150%;
    margin: 0 0 20px 0;
    padding: 0;
    color: #f4a000;
    border-bottom: 1px #f4a000 solid;
}

@media only screen and (max-width:1250px) {
.location-list .item {width:45%; padding: 10px; float:left}
.location-list .item .image { float:left; margin:10px 20px; overflow:hidden; width:90%; }
.location-list .item .image img { width:100%; }
.location-list .item .detail { clear:both; float:left; color:#ddd; width:90%; max-width:100%; overflow:hidden; margin:10px 20px;}
}

@media screen and (max-width:570px) {
.location-list .item {width:90%; padding: 10px; float:left}
}

.template-document_view #content #about-words { max-width: 100%; }
.template-document_view #content #about-words img { width: 100%; }

.template-product_listing_view #content .pp-words ul {margin:0; padding:0; }
.template-product_listing_view #content .pp-words ul li { list-style-type:none; line-height: 20px}
.template-product_listing_view #content .pp-words ul li:before { content: "•"; margin-right:5px}

#buy-list-01 td img.selected, #buy-list-02 td img.selected { border:#0000FF 3px solid; }


@media only screen and (max-width:1100px) {
    #buy-list-01{
        display: initial;
        float: initial;
    }
    #buy-s-box {
        display: initial;
        float:initial;
    }
}


/* 配合插入拉bar修改，做完再調到適當大小 */
#buy-s-box { margin-top:50px }
/*
#optionBar { padding-bottom: 150px}
*/
/*1002*/
#optionBar { padding-bottom:20px}
/*1002 end*/
.option-right-side { width: 42%; float:right;}
.option-left-side {width: 42%; float:left;}
#optionBar .slider-container {float:right;}
.option-row { margin:10px 0}
.option-right-side, .option-left-side { display: none }


/* template-default_error_message */
body.template-default_error_message {
    background-color: initial;
    padding: 100px;
}

/* music man */
#mm-info{
	width:100%;
	float:left;
	border-top:5px #f4a000 solid;
	margin-top:20px;
	margin-bottom:20px;
	padding-top:20px;
}
#mm-info-img{
	width:30%;
	float:left;
}
#mm-info-img img{
	width:100%;
}
#mm-info-word{
	width:68%;
	float:left;
	margin-left:2%;
	color:#ACACAC;
}
#mm-info-word p.tai {
	width:100%;
	clear:both;
	float:left;
	color:#FFF;
	font-size:18px;
	line-height:140%;
	margin:0 0 8px 0;
}
#mm-music{
	width:100%;
	height:60px;
	float:left;
}

/* mm-list */
.mm-list {
	width:48%;
	float:left;
	padding:0 1% 20px 1%;
	border-bottom:1px #999 dotted;
	margin-top:20px;
}
.mm-list-img{
	width:45%;
	float:left;
}
.mm-list-img img{
	width:100%;
}
.mm-list-word{
	width:53%;
	float:left;
	margin-left:2%;
}
.mm-list-word p.tai {
	width:100%;
	clear:both;
	float:left;
	color:#f4a000;
	font-size:20px;
	line-height:140%;
	margin:0 0 8px 0;
	height:28px;
	overflow:hidden;
}
.mm-list-word p.tai2 {
	width:100%;
	clear:both;
	float:left;
	color:#FFF;
	font-size:20px;
	line-height:140%;
	height:28px;
	overflow:hidden;
}
.mm-list-word p span {
	width:100%;
	color:#999;
	float:left;
	font-size:14px;
	margin:0 0 8px 0;
}
.mm-list-word-c {
	display:block;
	padding:0;
	margin:0;
	clear:both;
	float:left;
	color:#FFF;
	width:100%;
	height:63px;
	overflow:hidden;
}
.mm-list-word-c a:visited {
	color:#FFF;
}
.mm-list-word-c a:link {
	color:#FFF;
}
.mm-list-word-c a:hover {
	color:#f4a000;
}

/* Shopping Cart */
#cart-list-01 {
    width: 100%;
}

/* Registry Form */
#registry-form input, #registry-form select {
    color: #FFF;
    background-color: #333;
    border: 1px #666666 solid;
    padding: 5px;
}

.template-member_modify_pwd #content input, .user-update-form #content input, .user-update-form #content select {
    color: #FFF;
    background-color: #333;
    border: 1px #666666 solid;
    padding: 5px;
}

.template-shopping_cart_step2_payment input,
.template-shopping_cart_step2_payment select,
.template-member_contact_mana input,
.template-member_contact_mana select
{
    color: #FFF;
    background-color: #333;
    border: 1px #666666 solid;
    padding: 5px;
}
